
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AboutUs_Layout.cshtml";
}

@model About


<section class="about-us">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                @if(Model.PhotoPath==null)
                {
                    <img src="~/stand-blog/assets/images/about-us.jpg" alt="NoPhoto" width="1170" height="550">
                }
                else
                {
                    <img src="~/AboutPhotos/@Model.PhotoPath" alt="NoPhoto">                    
                }

                <p>Please tell your friends about TemplateMo website. Thank you. You can browse through different categories of templates such as <a rel="nofollow" href="https://templatemo.com/tag/business" target="_parent">business</a>, <a rel="nofollow" href="https://templatemo.com/tag/portfolio" target="_parent">portfolio</a>, <a rel="nofollow" href="https://templatemo.com/tag/restaurant" target="_parent">restaurant</a>, etc. Pellentesque quis luctus libero. Maecenas pretium molestie erat, ac tincidunt leo gravida ac. Cras ullamcorper eu ipsum eu sollicitudin. Fusce vitae commodo turpis. Integer ullamcorper purus nec justo mollis fermentum. Nunc imperdiet erat nec lacinia laoreet. <br><br>Maecenas faucibus ullamcorper felis vitae finibus. Nullam at quam ut lacus aliquam tempor vel sed ipsum. Donec pellentesque tincidunt imperdiet. Mauris sit amet justo vulputate, cursus massa congue, vestibulum odio. Aenean elit nunc, gravida in erat sit amet, feugiat viverra leo. Phasellus interdum, diam commodo egestas rhoncus, turpis nisi consectetur nibh, in vehicula eros orci vel neque.</p>
            </div>
        </div>

        

</section>

