
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AboutUs_Layout.cshtml";
}

@model About


@section headers
{
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="/HomePage/Index">
					ANA SAYFA
					<span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" href="/AboutUs/Index">HAKKIMIZDA</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/Contact/Index">İLETİŞİM</a>
			</li>


		</ul>
	</div>
}


@section headerText
{
	   <div class="heading-page header-text">
        <section class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-content">
                            <h4>Hakkımızda</h4>
                            <h2>Mİsyon, Vİzyon</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}






<section class="about-us">


    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                @if(Model.PhotoPath==null)
                {
                    <img src="~/stand-blog/assets/images/about-us.jpg" alt="NoPhoto" width="1170" height="550">
                }
                else
                {
                    <img src="~/AboutPhotos/@Model.PhotoPath" alt="NoPhoto">                    
                }

                <p>
                    @Model.Content;
            
                </p>
            </div>
        </div>

        

</section>

