@model ArticleUpdateDto

@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Makale Güncelle</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">



                <i class="fas fa-minus">

                </i>
            </button>
        </div>

    </div>



    <form asp-controller="Article" asp-action="Update" method="post">

        <div class="card-body">


            <div class="form-group">


                <label asp-for="CategoryId">Kategori</label>
                <select class="form-control" asp-for="CategoryId" asp-items="@(new SelectList(Model.Categories,"ID","Name"))"></select>

                <label asp-for="Title">Kategori Adı</label>
                <input asp-for="Title" type="text" class="form-control" placeholder="Lütfen Geçerli Bir Makale Adı Giriniz...">

                <label asp-for="Content">İçerik</label>
                <textarea asp-for="Content" type="text" class="form-control mb-3" id="defaultFormControlInput" style="min-height:300px;" placeholder="Lütfen İçerik Giriniz." aria-describedby="defaultFormControlHelp"></textarea>
                         




            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <a href="/Article/Index" class="btn btn-secondary">İptal</a>
                <input type="submit" value="Güncelle" class="btn btn-success float-right">
            </div>
        </div>

    </form>

</div>




