@model HomePageVM

@{
    int sayac = 0;
}

<div class="col-lg-4">
    <div class="sidebar">
        <div class="row">
            <div class="col-lg-12">
                <div class="sidebar-item search">
                    <form id="search_form" name="gs" method="GET" action="#">
                        <input type="text" name="q" class="searchText" placeholder="type to search..." autocomplete="on">
                    </form>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="sidebar-item recent-posts">
                    <div class="sidebar-heading">
                        <h2>SON EKLENEN MAKALELER</h2>
                    </div>
                    <div class="content">
                        <ul>
                            @foreach(var item in Model.Articles){                              
                            <li>
                                    <a href="~/PostDetailPage/Index/@item.ID"><p>-@item.Title (@item.Category.Name)</p></a>
                                    <span>@item.CreatedDate</span>
                               
                            </li>

                                sayac++;

                                @if(sayac>=2)
                                {
                                    break;
                                }
                           
                            }
                        </ul>
                    </div>
                </div>
            </div>
          @*  <div class="col-lg-12">
                <div class="sidebar-item categories">
                    <div class="sidebar-heading">
                        <h2>Son Eklenen Kategoriler</h2>
                    </div>
                    <div class="content">
                        @foreach(var item in Model.Categories)
                        {
                            <ul>
                                <li><a href="#">- @item.Name</a></li>                               
                            </ul>
                            
                        }
                       
                    </div>
                </div>
            </div>*@
            <div class="col-lg-12">
                <div class="sidebar-item tags">
                    <div class="sidebar-heading">
                        <h2>KATEGORİLER</h2>
                    </div>
                    <div class="content">
                        <ul>
                            @foreach(var item in Model.Categories)
                            {
                               <li><a href="#">@item.Name</a></li> 
                            }
                            
                            @*<li><a href="#">Creative</a></li>
                            <li><a href="#">HTML5</a></li>
                            <li><a href="#">Inspiration</a></li>
                            <li><a href="#">Motivation</a></li>
                            <li><a href="#">PSD</a></li>
                            <li><a href="#">Responsive</a></li>*@
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>