@model HomePageVM

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<section class="blog-posts">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="all-blog-posts">
					<div class="row">
						@foreach (var item in Model.Articles)
						{
							<div class="col-lg-12">

								<div class="blog-post">
									<div class="blog-thumb">
										<img src="~/ArticlePhotos/@item.PhotoPath" alt="" >
									</div>
									<div class="down-content">
										<span>@item.Category.Name</span>
										<a href="post-details.html"><h4>@item.Title</h4></a>
										<ul class="post-info">

											<li><a href="#">@item.CreatedDate</a></li>

										</ul>
										<p>@item.Content</p>

									</div>
								</div>
							</div>
						}
						@* <div class="col-lg-12">
						<div class="blog-post">
						<div class="blog-thumb">
						<img src="~/stand-blog/assets/images/blog-post-02.jpg" alt="">
						</div>
						<div class="down-content">
						<span>Healthy</span>
						<a href="post-details.html"><h4>Etiam id diam vitae lorem dictum</h4></a>
						<ul class="post-info">
						<li><a href="#">Admin</a></li>
						<li><a href="#">May 24, 2020</a></li>
						<li><a href="#">36 Comments</a></li>
						</ul>
						<p>You can support us by contributing a little via PayPal. Please contact <a rel="nofollow" href="https://templatemo.com/contact" target="_parent">TemplateMo</a> via Live Chat or Email. If you have any question or feedback about this template, feel free to talk to us. Also, you may check other CSS templates such as <a rel="nofollow" href="https://templatemo.com/tag/multi-page" target="_parent">multi-page</a>, <a rel="nofollow" href="https://templatemo.com/tag/resume" target="_parent">resume</a>, <a rel="nofollow" href="https://templatemo.com/tag/video" target="_parent">video</a>, etc.</p>
						<div class="post-options">
						<div class="row">
						<div class="col-6">
						<ul class="post-tags">
						<li><i class="fa fa-tags"></i></li>
						<li><a href="#">Best Templates</a>,</li>
						<li><a href="#">TemplateMo</a></li>
						</ul>
						</div>
						<div class="col-6">
						<ul class="post-share">
						<li><i class="fa fa-share-alt"></i></li>
						<li><a href="#">Facebook</a>,</li>
						<li><a href="#">Twitter</a></li>
						</ul>
						</div>
						</div>
						</div>
						</div>
						</div>
						</div>*@


					</div>
				</div>
			</div>

			@await Html.PartialAsync("RightSide")


		</div>
	</div>
</section>

