@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/AboutUs_Layout.cshtml";
}

@section scripts
	{
	
	<script src="~/js/contactaddingsweetalert.js"></script>
	
	@*<script src="~/js/contactaddsweetalert.js"></script>*@
	
}



<section class="contact-us">
	<div class="container">
		<div class="row">

			<div class="col-lg-12">
				<div class="down-contact">
					<div class="row">
						<div class="col-lg-8">
							<div class="sidebar-item contact-form">
								<div class="sidebar-heading">
									<h2>MESAJ KUTUSU</h2>
								</div>
								<div class="content">
									<form>
										<div class="row">
											<div class="col-md-6 col-sm-12">

												<input type="text" id="name" placeholder="Ad*">

											</div>
											<div class="col-md-6 col-sm-12">

												<input type="text" id="email" placeholder="Email*">

											</div>
											<div class="col-md-12 col-sm-12">

												<input type="text" id="subject" placeholder="Konu*">

											</div>
											<div class="col-lg-12">

												<textarea rows="6" id="message" placeholder="Mesajınız*"></textarea>

											</div>
											<div class="col-lg-12">

												<button id="form-submit">Send Message</button>

											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="sidebar-item contact-information">
								<div class="sidebar-heading">
									<h2>İLETİŞİM BİLGİLERİ</h2>
								</div>
								<div class="content">
									<ul>
										<li>
											<h5>03122326065</h5>
											<span>TELEFON NUMARASI</span>
										</li>
										<li>
											<h5>bilgi@vektorelbilisim.com</h5>
											<span>EMAİL ADRESİ</span>
										</li>
										<li>
											<h5>
												Kızılay Mahallesi GMK Bulvarı Fevzi Çakmak 1
												<br />Sok. No: 24 / 5-6-7-8 Kat: 2 Kızılay / Ankara

											</h5>
											<span>ADRES</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-12">
				<div id="map">

					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3059.817699559443!2d32.84753857590144!3d39.923095671523214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34f01d808af9b%3A0x6f1ffe86aa5cf7af!2zVmVrdMO2cmVsIEJpbGnFn2lt!5e0!3m2!1str!2str!4v1682964515228!5m2!1str!2str" width="100%" height="450px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
					</iframe>

				</div>
			</div>

		</div>
	</div>
</section>

