@model CategoryUpdateDto

@{
    ViewData["Title"] = "CategoryUpdate";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section styles
{
	<link href="~/admin/plugins/select2/css/select2.min.css" rel="stylesheet" />
	<link href="~/admin/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Kategori Güncelle</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">



                <i class="fas fa-minus">

                </i>
            </button>
        </div>

    </div>



    <form>

        <div class="card-body">        


            <div class="form-group">                

                
                <input asp-for="ID" id="CategoryID" style="display:none;" type="text" readonly>



                <label asp-for="Name" >Kategori Adı</label>
                <input asp-for="Name" id="CategoryName" type="text" class="form-control" placeholder="Lütfen Geçerli Bir Makale Adı Giriniz...">


            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <a href="/Category/Index" class="btn btn-secondary">İptal</a>
                <input type="submit" id="CategoryUpdate" value="Güncelle" class="btn btn-success float-right">
            </div>
        </div>

    </form>

</div>

@section scripts
{

	<script src="~/js/categoryupdatewarning.js"></script>
	<script src="~/admin/plugins/select2/js/select2.min.js"></script>
    <script src="~/admin/plugins/sweetalert2/sweetalert2.min.js"></script>


}


